html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', Roboto, 'Helvetica Neue', serif !important;
    margin: 0;
}

a.navbar-brand {
    color: inherit;
}

.bg-light {
    background-color: #FAFAFA !important;
}

.bg-primary {
    background-color: #B22562 !important;
}

.btn-primary {
    color: #FFF;
    background-color: #B22562 !important;
    border-color: #B22562 !important;
}

.border-primary {
    border-color: #B22562 !important;
}

.btn-outline-primary {
    color: #B22562 !important;
    border-color: #B22562 !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #FFF !important;
    background-color: #B22562 !important;
    border-color: #B22562 !important;
}

.text-primary {
    color: #B22562 !important;
}

.navbar-brand-logo {
    width: 54px;
}

.jumbotron-home {
    background-color: #B22562;
    color: #FFF;
}

.container-home-categories .btn {
    width: 10rem;
}

.pictures-container .draggable-item .draggable-item-overlay {
    cursor: move;
}

.pictures-container:not(:empty) + .pictures-container-hint {
    display: block !important;
}

.pictures-container .draggable-item:first-child .picture-container img {
    border-color: #B22562;
}

form.form-loading button[type=submit] .not-loading {
    display: none;
}
form.form-loading button[type=submit] .spinner-border {
    display: block !important;
}
