:root {
    --light-color: #FAFAFA;
    --primary-color: #B22562;
    --text-on-primary-color: #FFF;
    --breadcrumb-separator: ">";
}

html, body {
    font-family: 'Montserrat', Roboto, 'Helvetica Neue', serif !important;
}

a.navbar-brand {
    color: inherit;
}

.bg-light {
    background-color: var(--light-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.btn-primary {
    color: var(--text-on-primary-color);
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

.btn-outline-primary {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: var(--text-on-primary-color) !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.navbar-brand-logo {
    width: 54px;
}

.jumbotron-home {
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
}

.container-home-categories .btn {
    width: 10rem;
}

.pictures-container .draggable-item .draggable-item-overlay {
    cursor: move;
}

.pictures-container:not(:empty) + .pictures-container-hint {
    display: block !important;
}

.pictures-container .draggable-item:first-child .picture-container img {
    border-color: var(--primary-color);
}

form.form-loading button[type=submit] .not-loading,
form.form-success button[type=submit] .not-loading {
    display: none;
}

form.form-loading button[type=submit] .spinner-border {
    display: block !important;
}

form.form-success button[type=submit] .success-icon {
    display: block !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: var(--breadcrumb-separator) !important;
}

.carousel-item {
    transition-duration: .2s;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
}

@media (min-width: 1200px) {
    .position-xl-relative {
        position: relative;
    }

    .sticky-xl-top {
        position: sticky;
        top: 0;
    }
}
